In [2]:
# 함수 정의
def hello():
    print("hello!")

# 함수 호출
hello()

hello!

In [3]:
def hello():
    return "hello!!!"
print(hello())

hello!!!

In [4]:
def add(a,b):
    return a+b
print(add(3,4))

7

In [7]:
def print_n_times(value, n=2):  # n=2   --> 초기값 선정(입력 안했을 시 초기값)
    for i in range(n):
        print(value)
        
print_n_times("안녕하세요")
print_n_times("안녕",5)

안녕하세요
안녕하세요
안녕
안녕
안녕
안녕
안녕

In [8]:
#가변 파라미터 : *args
#가변 파라미터는 뒤에는 일반 매개 변수 사용 불가
# 가변 파라미터는 하나만 사용 가능

def add_many(*args):
    print(args)

add_many({"dessert":"macaroon","wine":"merlot"})
add_many("35","24","15","14")
add_many(["A","B","C","D"])
add_many("E","F","G")

({'dessert': 'macaroon', 'wine': 'merlot'},)
('35', '24', '15', '14')
(['A', 'B', 'C', 'D'],)
('E', 'F', 'G')

In [10]:
def add_many2(*args):
    result=0
    for i in args:
        result +=i
    return result

print(add_many2(15,63,869,45,36,9,3))
print(add_many2(27,35,56))
print(add_many2())

1040
118
0

In [12]:
def sum_mul(choice,*args):
    if choice=="mul":
        result=1
        for i in args:
            result *=i
    elif choice =="add":
        result =0
        for i in args:
            result+=i
    return result

print("덧셈 : ",sum_mul("add",1,2,3,4,5))
print("곱셈 : ",sum_mul("mul",1,2,3,4,5))

덧셈 :  15
곱셈 :  120

In [13]:
## kwargs : 파라미터를 딕셔너리 형태로 처리

def args_func1(**kwargs):
    print(kwargs)
    for k in kwargs.keys():
        print(k)
        
    for k,v in kwargs.items():
        print(k,v)
    print()

args_func1(name="park")
args_func1(name="park",name2="kim",active="test")
args_func1(name="kim",age=10,title="title")
args_func1(name="hong",name2="tark")

{'name': 'park'}
name
name park

{'name': 'park', 'name2': 'kim', 'active': 'test'}
name
name2
active
name park
name2 kim
active test

{'name': 'kim', 'age': 10, 'title': 'title'}
name
age
title
name kim
age 10
title title

{'name': 'hong', 'name2': 'tark'}
name
name2
name hong
name2 tark

In [20]:
def example_mul(arg1,arg2,arg3=15,*args,**kwargs):
    print(arg1,arg2,arg3,args,kwargs)

example_mul(10,20)
example_mul(10,20,30)
example_mul(10,20,"kim","choi")
example_mul(10,20,30,"kim","choi",age=25,name="park")

10 20 15 () {}
10 20 30 () {}
10 20 kim ('choi',) {}
10 20 30 ('kim', 'choi') {'age': 25, 'name': 'park'}

In [21]:
# 다중 리턴

def sum_and_mul(a,b):
    return a+b,a*b

print(sum_and_mul(3,4))

(7, 12)

In [24]:
def func_mul(x):
    y1 = x*100
    y2 = x*200
    y3 = x*300
    return y1,y2,y3
tup1 =func_mul(100)
print(tup1)

(10000, 20000, 30000)

In [25]:
add_result,mul_result=sum_and_mul(4,5)
print(add_result)
print(mul_result)

9
20

In [26]:
var=(3,4,5)
num1,num2,num3=var
print(num1)

3

In [27]:
def func_mul(x):
    y1 = x*100
    y2 = x*200
    y3 = x*300
    return [y1,y2,y3]
print(func_mul(100))

[10000, 20000, 30000]

In [28]:
def say_nick(nick):
    if nick == "바보":
        return
    print("나의 별명은 {} 입니다.".format(nick))

say_nick("바보")
say_nick("무야호")

나의 별명은 무야호 입니다.

In [32]:
#두 개의 인자와 연산자를 받아 사칙연산을 수행하는 fourRules 함수를 작성하시오
def fourRules(num1,num2,menu):
    if(menu=="+"):
        return num1+num2
    elif(menu=="-"):
        return num1-num2
    elif(menu=="*"):
        return num1*num2
    elif(menu=="/"):
        return num1/num2
    elif(menu=="%"):
        return num1%num2

print(fourRules(10,20,"-"))

-10

In [33]:
#위에 작성한 함수를 호출할 때 사용자로부터 인자와 연산자를 받아서 처리하기
print(fourRules(int( input("숫자 1")),int( input("숫자 2")),input("연산자 입력")))

숫자 120
숫자 210
연산자 입력/
2.0

In [63]:
#1~100 사이의 소수를 구하여 리턴하는 함수를 작성하시오
def resosu():
    
    result =[]
    result.append(2)
    for i in range(2,101):
        for j in range(2,i):
            if i%j==0:
                break
            if j==i-1:
                result.append(i)
    return result    
print(resosu())

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]