In [5]:
#리스트 생성

list1=[]
list2=["a","b","c"]
list3=["a","b","c",1,2]
list4=[1,2,3,4,5.5,6,7]
list5=[1,2,['life',13,'short']]
print(list1)
print(list2)
print(list3)
print(list4)
print(list5)
print(list5[2][1])

[]
['a', 'b', 'c']
['a', 'b', 'c', 1, 2]
[1, 2, 3, 4, 5.5, 6, 7]
[1, 2, ['life', 13, 'short']]
13

In [6]:
# 리스트 사용

print(list1)
print(list2)
print(list3)
print(list4)

[]
['a', 'b', 'c']
['a', 'b', 'c', 1, 2]
[1, 2, 3, 4, 5.5, 6, 7]

In [9]:
print("list2",list2[2])

list2 c

In [10]:
list6=[1,2,['a','b',['life','is']]]
print(list6[2][2][1])

is

In [13]:
a=[1,2,3]
b=[4,5,6]
c=['a','b','c']
print(a+b+c)
print(a[0]+b[1])

[1, 2, 3, 4, 5, 6, 'a', 'b', 'c']
6

In [18]:
print(a)
a[1]=7
print(a)

[1, 2, 3]
[1, 7, 3]

In [19]:
str1="abcd"
str[1]="e" #문자열은 불변

TypeError: 'type' object does not support item assignment

In [20]:
print(b)

[4, 5, 6]

In [30]:
b=[4,5,6]
b[1:2]=[1,2,3,4,5]
print(b)

[4, 1, 2, 3, 4, 5, 6]

In [31]:
print(a)
del a[1]
print(a)

[1, 7, 3]
[1, 3]

In [32]:
print(b)
b[1:3]=[]
print(b)

[4, 1, 2, 3, 4, 5, 6]
[4, 3, 4, 5, 6]

In [2]:
numbers=[273,103,5,32,65,9,72,800,99]
for num in numbers:
    print(num)

273
103
5
32
65
9
72
800
99

In [4]:
# numbers 안의 숫자가 홀수 짝수인지 판별해서 출력하기

for num in numbers:
    if(num%2==0):
        print(str(num)+"은 짝수입니다")
    else:
        print(str(num)+"은 홀수입니다")

273은 홀수입니다
103은 홀수입니다
5은 홀수입니다
32은 짝수입니다
65은 홀수입니다
9은 홀수입니다
72은 짝수입니다
800은 짝수입니다
99은 홀수입니다

In [8]:
for num in numbers:
    print(str(num)+"의 길이는"+str(len(str(num))))

273의 길이는3
103의 길이는3
5의 길이는1
32의 길이는2
65의 길이는2
9의 길이는1
72의 길이는2
800의 길이는3
99의 길이는2

In [16]:
list_of_list=[[1,2,3],[4,5,6],[7,8,9]]

print(type(list_of_list))
for i in range(0,len(list_of_list)):
    if(type(list_of_list[i])=="class 'list'"):
        for j in len(list_of_list[i]):
            print(list_of_list[i][j])
    else:
        print(list_of_list[i])

<class 'list'>
[1, 2, 3]
[4, 5, 6]
[7, 8, 9]

In [17]:
#appeendd():
list1=[1,2,3]
list1.append(4)
print(list1)

[1, 2, 3, 4]

In [18]:
list1.append([5,6])
print(list1)

[1, 2, 3, 4, [5, 6]]

In [20]:
# list1.appen(5,6,7) TypeError

In [23]:
even=[]

for i in range(1,101):
    if(i%2==0):
        even.append(i)
print(even)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

In [26]:
list1=[25,75,15,9,6,3,36]
print(list1)
list1.sort()
print(list1)

[25, 75, 15, 9, 6, 3, 36]
[3, 6, 9, 15, 25, 36, 75]

In [27]:
list2=['a','c','b','v','t']
print(list2)

['a', 'c', 'b', 'v', 't']

In [28]:
list2.sort()
print(list2)

['a', 'b', 'c', 't', 'v']

In [29]:
list3=['a','A','b','B','c','C']
print(list3)
list3.sort()
print(list3)

['a', 'A', 'b', 'B', 'c', 'C']
['A', 'B', 'C', 'a', 'b', 'c']

In [31]:
list4=['ㄷ','ㄱ','ㅎ','ㅋ','ㄴ']
print(list4)
list4.sort()
print(list4)

['ㄷ', 'ㄱ', 'ㅎ', 'ㅋ', 'ㄴ']
['ㄱ', 'ㄴ', 'ㄷ', 'ㅋ', 'ㅎ']

In [34]:
list5=["abc","tail","bcd","animal","korea"]
print(list5)
list5.sort()
print(list5)
list5.sort(reverse=True)
print(list5)

['abc', 'tail', 'bcd', 'animal', 'korea']
['abc', 'animal', 'bcd', 'korea', 'tail']
['tail', 'korea', 'bcd', 'animal', 'abc']

In [35]:
#insert(): 특정 위치에 요소를 삽입
list2=[12,13,14,15,14]
list2.insert(1,56)
print(list2)

[12, 56, 13, 14, 15, 14]

In [42]:
list5=[12,13,14,15,14]
list5.remove(14)
print(list5)

[12, 13, 15, 14]

In [43]:
#pop()
print(list5)
list5.pop()
print(list5)
list5.pop(1)
print(list5)

[12, 13, 15, 14]
[12, 13, 15]
[12, 15]

In [46]:
#count(): 리스트 요소(갯수) 세기
list5=[1,2,3,3,3,3,3,3,4,5,6,7]
print(list5.count(3))

6

In [47]:
# extend : 리스트 확장(+ 와 같은 결과)

list5.extend([16,17,18])
print(list5)

[1, 2, 3, 3, 3, 3, 3, 3, 4, 5, 6, 7, 16, 17, 18]

In [48]:
#clear()
list5.clear()
print(list5)

[]

In [49]:
city=""
if city:
    print("True")
else:
    print("False")

False

In [50]:
list1=[]
if list1:
    print("True")
else:
    print("False")

False

In [51]:
fruit=["사과","딸기","배","수박"]
if "딸기" in fruit:
    print("딸기 포함")
else:
    print("딸기 미 포함")

딸기 포함

In [1]:
arr=[23,12,36,53,19]
for i in enumerate(arr):
    print(i)

(0, 23)
(1, 12)
(2, 36)
(3, 53)
(4, 19)

In [2]:
for idx,val in enumerate(arr):
    print("%d: %d" % (idx,val))

0: 23
1: 12
2: 36
3: 53
4: 19

In [4]:
for idx,val in enumerate(arr,start=1):
    print("%d:%d"%(idx,val))

1:23
2:12
3:36
4:53
5:19

In [5]:
# a학급에 총 10명의 학생이 있다. 이 학생들의 중간고사 점수는 다음과 같다
# 70.60.55.75.95.90.80.85.100.66
#a 학급의 점수를 리스트로 생성하고 총 합과 평균을 구하시오.

In [48]:
arr=[70,60,55,75,95,90,80,85,100,66]
result=0
people=0;
for idx,num in enumerate(arr,start=1):
    result+=num
    people=idx
print(result)
result2=result/people
print(result2)
print("a 학급의 총 합 {} 과 평균  {}".format(result,(result2)))

776
77.6
a 학급의 총 합 776 과 평균  77.6
10

In [26]:
#sum : 합계

print("a 학급의 총 합 {} 과 평균 :{}".format(sum(arr),sum(arr)/10))

a 학급의 총 합 776 과 평균 :77.6

insertNum=0;
list1=[];
car='A';
while(insertNum!=3):
    insertNum=input("[1]자동차 넣기 | [2]자동차 빼기 |[3] 종료")
    if(insertNum==1):
        if(size(list1)<5):
            print(1)
            list1.append(car)
            print(list1)
        else:
            print(2)
            print("앙돼요 5대에요")
            print(list1)
    elif(insertNum==2):
        print(3)
        list1.pop()
        print(list1)
    elif(insertNum==3):
        print(4)
        break;

In [60]:
insertNum=0 
list1=[]
car='A'
while(insertNum!=3): 
    insertNum=int(input("[1]자동차 넣기 | [2]자동차 빼기 |[3] 종료")) 
    if(insertNum==1): 
        if(len(list1)<5): 
           
            list1.append( car ) 
            car=   chr(ord(car)+1)
            print(list1) 
            
            
        else: 
            
            print("앙돼요 5대에요") 
            print(list1) 
    elif(insertNum==2):
        if(len(list1)>0):
           
            list1.pop() 
            print(list1)
        else:
            print("양되요")
    elif(insertNum==3): 
           
            break;

[1]자동차 넣기 | [2]자동차 빼기 |[3] 종료1
['A']
[1]자동차 넣기 | [2]자동차 빼기 |[3] 종료1
['A', 'B']
[1]자동차 넣기 | [2]자동차 빼기 |[3] 종료1
['A', 'B', 'C']
[1]자동차 넣기 | [2]자동차 빼기 |[3] 종료1
['A', 'B', 'C', 'D']
[1]자동차 넣기 | [2]자동차 빼기 |[3] 종료1
['A', 'B', 'C', 'D', 'E']
[1]자동차 넣기 | [2]자동차 빼기 |[3] 종료1
앙돼요 5대에요
['A', 'B', 'C', 'D', 'E']
[1]자동차 넣기 | [2]자동차 빼기 |[3] 종료2
['A', 'B', 'C', 'D']
[1]자동차 넣기 | [2]자동차 빼기 |[3] 종료2
['A', 'B', 'C']
[1]자동차 넣기 | [2]자동차 빼기 |[3] 종료22
[1]자동차 넣기 | [2]자동차 빼기 |[3] 종료2
['A', 'B']
[1]자동차 넣기 | [2]자동차 빼기 |[3] 종료2
['A']
[1]자동차 넣기 | [2]자동차 빼기 |[3] 종료2
[]
[1]자동차 넣기 | [2]자동차 빼기 |[3] 종료2
양되요
[1]자동차 넣기 | [2]자동차 빼기 |[3] 종료1
['F']
[1]자동차 넣기 | [2]자동차 빼기 |[3] 종료1
['F', 'G']
[1]자동차 넣기 | [2]자동차 빼기 |[3] 종료1
['F', 'G', 'H']
[1]자동차 넣기 | [2]자동차 빼기 |[3] 종료1
['F', 'G', 'H', 'I']
[1]자동차 넣기 | [2]자동차 빼기 |[3] 종료1
['F', 'G', 'H', 'I', 'J']
[1]자동차 넣기 | [2]자동차 빼기 |[3] 종료1
앙돼요 5대에요
['F', 'G', 'H', 'I', 'J']
[1]자동차 넣기 | [2]자동차 빼기 |[3] 종료1
앙돼요 5대에요
['F', 'G', 'H', 'I', 'J']
[1]자동차 넣기 | [2]자동차 빼기 |[3] 종료1
앙돼요 5대에요
['F', 'G', 'H', 'I', 'J']
[1]자동차 넣기 | [2]자동차 빼기 |[3] 종료1
앙돼요 5대에요
['F', 'G', 'H', 'I', 'J']
[1]자동차 넣기 | [2]자동차 빼기 |[3] 종료2
['F', 'G', 'H', 'I']
[1]자동차 넣기 | [2]자동차 빼기 |[3] 종료2
['F', 'G', 'H']
[1]자동차 넣기 | [2]자동차 빼기 |[3] 종료2
['F', 'G']
[1]자동차 넣기 | [2]자동차 빼기 |[3] 종료2
['F']
[1]자동차 넣기 | [2]자동차 빼기 |[3] 종료2
[]
[1]자동차 넣기 | [2]자동차 빼기 |[3] 종료2
양되요
[1]자동차 넣기 | [2]자동차 빼기 |[3] 종료

ValueError: invalid literal for int() with base 10: ''

## ord('a') ==> 아스키

In [58]:
ord('A')

65

In [59]:
chr(65)

'A'

In [66]:
# 1. 아래 문자열의 길이를 구하기

q1="안녕하세요"
print(len(q1))
q2="abcde"
print(len(q2))
q2.capitalize()

5
5

'Abcde'

In [67]:
# 화면단에 * 기호 100개 표시하기
print("*"*100)

****************************************************************************************************

In [80]:
#문자열 "30" 을 각각 정수 실수형으로 변환하기
str1="30"
num1=int(str1)
fnum1=num1/1.0
print(str1)
print(num1)
print(fnum1)
#fnum1=num1/1.0

#print(num1)
#print(fnum1)

30
30
30.0

In [81]:
# 5 다음 문자열에서 "-" 제거후 출력
temp="010-5850-5388"
print(temp.replace("-",""))

01058505388

In [82]:
# 더움 뮨저욜애소 "https://" 부분 제거 후 출력
url="http://www.daum.net"
print(url.replace("http://",""))

www.daum.net

In [83]:
# 다음 리스트에서 "APPLE" 항목 삭제 한 후 출력
list1=["banana","apple","orange"]
list1.remove("apple")
print(list1)

['banana', 'orange']

In [89]:
# 다음 리스트에서 똑같은 글자 5글자 이상의 단어만 출력
list2=["nice","study","python","anaconda","!"]
for i in list2:
    for j in i:
        if(i.count(j)>=3):
            print(i)
            break
print("----------------------------")
for i in list2:
    if(len(i)>=5):
        print(i)

anaconda
----------------------------
study
python
anaconda

In [115]:
#다음 리스트에서 항목중 소문자만 출력
list3=["A","b","c","D","e","F","G","h"]

for i in list3:
    if(ord(i)>=95):
        print(i)

b
c
e
h

In [111]:
# 다음 항목 중 소문자를 대문자로 대문자를 소문자로 출력
for char in list3:
    if(ord(char)>95):
        
        print( chr(ord(char)-32) )
    else:
        print(chr(ord(char)+26))

[
B
C
^
E
`
a
H

In [104]:
# 거꾸로 출력 "Strawberry"
temp="Strawberry"

print(temp[::-1])

yrrebwartS

In [113]:
tel="010-7777-9999"

print(tel[:3]+tel[4:8]+tel[9:13])

01077779999

In [119]:
print(list3)
for ch in list3:
    if ch.islower():
        print(ch,end="")

['A', 'b', 'c', 'D', 'e', 'F', 'G', 'h']
bceh

In [122]:
for ch in list3:
    if ch.islower():
        print(ch.upper())
    if ch.isupper():
        print(ch.lower())

a
B
C
d
E
f
g
H

In [125]:
string ="helloWorld"
print(string.swapcase())

HELLOwORLD

In [126]:
#리스트 내포 표기

In [127]:
print([x*2 for x in [1,2,3,4]])

[2, 4, 6, 8]

In [128]:
print([x*x for x in range(5)])

[0, 1, 4, 9, 16]

In [129]:
#[1,2,3] => [[1,2,3],
#            [2.3.4]
#            [3,4,5]]


print( [[x,x+1,x+2]for x in [1,2,3] ])

[[1, 2, 3], [2, 3, 4], [3, 4, 5]]

In [138]:
#[[0.0.0],[0,0,0],[0,0,0],[0,0,0]]
arr=[];
for i in range(4):
    arr.append([])
    for j in range(3):
        arr[i].append(0);
    
print( arr    )

[[0, 0, 0], [0, 0, 0], [0, 0, 0], [0, 0, 0]]

In [142]:
print([[0 for x in range(3)] for y in range(4)])

[[0, 0, 0], [0, 0, 0], [0, 0, 0], [0, 0, 0]]

In [148]:
#[[0,1,2],[3,4,5],[6,7,8],[9,10,11]]
print([[x for x in range(3*j , 3*j+3)] for j in range(4)])

[[0, 1, 2], [3, 4, 5], [6, 7, 8], [9, 10, 11]]

In [156]:
arr=[]
for i in range(4):
            arr.append([])
            for j in range(3):
                arr[i].append(i*3+j)  
print(arr)

[[0, 1, 2], [3, 4, 5], [6, 7, 8], [9, 10, 11]]