### 문자 처리
-쌍따옴표, 홑따옴표로 표현
-쌍따옴표 3개, 홑따옴표 3개
-문자와 문자열의 구별은 없음
-인덱싱 슬라이싱 개념 중요함

In [2]:
a="Life is too short, You need python"
print (a)

Life is too short, You need python

In [3]:
a='Life is too short, You need Python'
print(a)

Life is too short, You need Python

In [4]:
a="""Life is too short, You need Python"""
print(a)

Life is too short, You need Python

In [5]:
a='''Life is too short, You need Python'''
print(a)

Life is too short, You need Python

-문자열 응용 +(결합)  *(복제)

In [7]:
print("Python"+"is fun")

Pythonis fun

In [8]:
print("Python"*3)

PythonPythonPython

In [9]:
print("*"*50)
print("My Program")
print("*"*50)

**************************************************
My Program
**************************************************

In [10]:
#문자열 인덱싱 과 슬라이싱

In [15]:
str1 ="Life is too short"
print(str1[3]) #인덱싱 : 0부터 시작
print(str1[-14])

e
e

In [16]:
print(str1[0:4])

Life

In [19]:
print(str1[5:8])

is

In [23]:
print(str1[5:])

is too short

In [24]:
print(str1[:5])

Life

In [25]:
print(len(str1))

17

In [47]:
str2="20210216sunny"
# 날짜와 날씨 나눠서 출력
str3=str2[0:8]
str4=str2[8:]
print(str3)
print(str4)
print(str3[0:4],end="-")
print(str3[4:6],end="-")
print(str3[6:8],end="")
print()
print(str3[0:4],str3[4:6],str3[6:8])
print(str3[0:4],str3[4:6],str3[6:8],sep="-")

20210216
sunny
2021-02-16
2021 02 16
2021-02-16

In [43]:
jumin="901205-4264567"
#주민등록번호에서 일곱번쨰 자리 숫자 이용해 남 여 판별

if(jumin[7]=="2" or jumin[7]=="4"):
    print("여성")
else:
    print("남성")

여성

In [56]:
str3="대한민국"
for i in str3:
   print(i,end="$")

대$한$민$국$

In [72]:
temp=input("숫자 입력")
for i in temp:
    temp2=int(i)
    for j in range(1,temp2+1):
        print("*",end="")
    print()

숫자 입력4352
****
***
*****
**

In [73]:
str4=input("숫자 입력")

for i in range(len(str4)):
    for j in range(int(str4[i])):
        print("*",end="")
    print()

숫자 입력32
***
**

In [74]:
# 문자열 관련 함수

In [81]:
#count:문자열에 포함된 특정 문자열 개수

a="hobby"
print("a 문자열에 포함된 b 문자열의 개수: " , a.count("b"))

a 문자열에 포함된 b 문자열의 개수:  2

In [85]:
# find:문자를 찾아서 시작 위치를 돌려줌

a="Python is best choice"
print("b가 시작되는 첫번째 위치 :",a.find("b") )
print("b가 시작되는 첫번째 위치 :",a.find("b",11) )
print("k가 시작되는 첫번째 위치 :",a.find("k") )

b가 시작되는 첫번째 위치 : 10
b가 시작되는 첫번째 위치 : -1
k가 시작되는 첫번째 위치 : -1

In [86]:
#rfind() : 오른쪽부터 찾아라
print('b 가 시작되는 마지막 위치',a.rfind('b'))

b 가 시작되는 마지막 위치 10

In [89]:
#index() 없으면 에러를 냄
a="Python is best choice"
print("b가 시작되는 첫번째 위치",a.index("b"))
#print("k가 시작되는 첫번째 위치",a.index("k"))

b가 시작되는 첫번째 위치 10

In [96]:
#startwith():

a="Python is easy programing"
print(a.startswith("p"))
print(a.startswith("P"))
print(a.endswith("G"))
print(a.endswith("g"))

False
True
False
True

In [98]:
# join() :문자열 사이에 연결 문자 지정
b="."
print(b.join("abcd"))

a.b.c.d

In [106]:
a="abcd"
print(a.upper())
b="ABCD"
print(b.lower())
c=" a b C D "
print(c)
print(c.swapcase())

ABCD
abcd
 a b C D
 A B c d

In [107]:
#title()

a="pyghon is easy"
print (a.title())

Pyghon Is Easy

In [110]:
# 공백제거 :strip(), lstrip(),rstrip()
a ="  a  b  c  d   " 
print(a)
print(a.strip())
print(a.lstrip())

  a  b  c  d
a  b  c  d
a  b  c  d

In [111]:
a="hi    "
print(a,"hello")
print(a.rstrip(),"hello")

hi     hello
hi hello

In [112]:
a="*********"
print(a.replace("**","ㅁ"))

ㅁㅁㅁㅁ*

In [113]:
# split():문자열 나누기

a="a:b:c:d"
print(a.split(":"))

['a', 'b', 'c', 'd']

In [119]:
# 문자열 구성 파악 함수 : isdigit(),isalpha(),islnum(),islower(),isupper()
print("1234".isalnum())

True

In [120]:
name="KennRy"
print(name.swapcase())

kENNrY

In [129]:
import datetime
date=datetime.date.today()
print(date)
#년 /월 / 일 형태로 입력 받아서 10년 후의 날짜 출력하기
daytemp=input("날짜 입력")
temp= daytemp.split("/")
print(temp)
year=temp[0]
month=temp[1]
day=temp[2]
year=str(int(year)+10)
print(year,"년",month,"월",day,"일" )

2021-02-16
날짜 입력2021/02/15
['2021', '02', '15']
2031 년 02 월 15 일

In [134]:
#사이트 별로 비밀번호 만들어 주기
#예) http://naver.com
#규칙 1: http:// 부분은 제외한다
#규칙 2: 처음 만나는 점(.) 이후 부분은 제외
#규칙 3 : 남은 글자 중 처음 세자리+ 글자 갯수 +  글자 내 "e" 의 갯수+! 로 구성
# 결과 => nav51!
strtemp=input("사이트 주소")
endo=strtemp.rfind("/")
result=strtemp[endo+1:]
print(result)
endo=result.find(".")
result2=result[0:endo]
print(result2)
result3=result[:3]+str(len(result2))+str(result2.count("e"))+"!"
print(result3)

사이트 주소http://naver.com
naver.com
naver
nav51!