In [1]:
## while

In [6]:
i=1
while(i<10):
    i+=1
    print(i,end=" ")

2 3 4 5 6 7 8 9 10

In [14]:
i=0
while(i<=100):
    if(i%2==0):
        print(i,end=(" "))
    i+=1

0 2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98 100

In [17]:
#1~100 합계 구해서 출력
i=1
temp=0
while(i<=100):
    temp+=i
    i+=1
print(temp)

5050

In [18]:
i=1
j=1
while(i<=9):
    while(j<=9):
        print("{} x {} = {}".format(i,j,i*j))
        j+=1
    i+=1
    j=1

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81

In [20]:
# q가 입력 되기 전까지 계속 입력 받는 프로그램
temp=""
while(temp!="q"):
    temp=input("q입력까지 계속 숨 참음")
    #print(temp)

q입력까지 계속 숨 참음13
q입력까지 계속 숨 참음13
q입력까지 계속 숨 참음21
q입력까지 계속 숨 참음1
q입력까지 계속 숨 참음1
q입력까지 계속 숨 참음q

In [21]:
# for

In [22]:
print(range(5))

range(0, 5)

In [23]:
range(0,5)

range(0, 5)

In [24]:
print(range(1,10))

range(1, 10)

In [25]:
#range() 범위를 지정

In [26]:
print(range(5))

range(0, 5)

In [27]:
print(list(range(5)))

[0, 1, 2, 3, 4]

In [28]:
print(list(range(1,5)))

[1, 2, 3, 4]

In [30]:
print(list(range(1,5,2)))

[1, 3]

In [31]:
print(list(range(1,10,0.5)))

TypeError: 'float' object cannot be interpreted as an integer

In [32]:
for i in range(10):
    print(i,end =" ")

0 1 2 3 4 5 6 7 8 9

In [34]:
temp=0
for i in range(1,101):
    temp+=i
print(temp);

5050

In [35]:
# 1~ 사용자 지정 숫자까지 합계 구한 후 출력 구하는

In [37]:
result=0;
for i in range(1,int(input("숫자 입력 ㄱㄱ"))+1):
    result+=i
print(result)

숫자 입력 ㄱㄱ100
5050

In [39]:
print(sum(range(1,11)))

55

In [40]:
for i in range(4,-1,-1):
    print(i, end=" ")

4 3 2 1 0

In [41]:
word ="dreams"
for s in word:
    print("word: ",s)

word:  d
word:  r
word:  e
word:  a
word:  m
word:  s

In [42]:
for i in range(3):
    for j in range(3):
        print(j,end=" ")
    print()

0 1 2
0 1 2
0 1 2

In [43]:
i=1
j=1
while(i<=9):
    while(j<=9):
        print("{} x {} = {}".format(i,j,i*j))
        j+=1
    i+=1
    j=1

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81

In [44]:
for i in range(5):
    for j in range(5):
        print(i+j, end=" ")
    print()

0 1 2 3 4
1 2 3 4 5
2 3 4 5 6
3 4 5 6 7
4 5 6 7 8

In [48]:
for i in range(2,10):
    for j in range(1,10):
        print("{} x {} = {}".format(i,j,i*j) ,end =" ,")
    print()

2 x 1 = 2 ,2 x 2 = 4 ,2 x 3 = 6 ,2 x 4 = 8 ,2 x 5 = 10 ,2 x 6 = 12 ,2 x 7 = 14 ,2 x 8 = 16 ,2 x 9 = 18 ,
3 x 1 = 3 ,3 x 2 = 6 ,3 x 3 = 9 ,3 x 4 = 12 ,3 x 5 = 15 ,3 x 6 = 18 ,3 x 7 = 21 ,3 x 8 = 24 ,3 x 9 = 27 ,
4 x 1 = 4 ,4 x 2 = 8 ,4 x 3 = 12 ,4 x 4 = 16 ,4 x 5 = 20 ,4 x 6 = 24 ,4 x 7 = 28 ,4 x 8 = 32 ,4 x 9 = 36 ,
5 x 1 = 5 ,5 x 2 = 10 ,5 x 3 = 15 ,5 x 4 = 20 ,5 x 5 = 25 ,5 x 6 = 30 ,5 x 7 = 35 ,5 x 8 = 40 ,5 x 9 = 45 ,
6 x 1 = 6 ,6 x 2 = 12 ,6 x 3 = 18 ,6 x 4 = 24 ,6 x 5 = 30 ,6 x 6 = 36 ,6 x 7 = 42 ,6 x 8 = 48 ,6 x 9 = 54 ,
7 x 1 = 7 ,7 x 2 = 14 ,7 x 3 = 21 ,7 x 4 = 28 ,7 x 5 = 35 ,7 x 6 = 42 ,7 x 7 = 49 ,7 x 8 = 56 ,7 x 9 = 63 ,
8 x 1 = 8 ,8 x 2 = 16 ,8 x 3 = 24 ,8 x 4 = 32 ,8 x 5 = 40 ,8 x 6 = 48 ,8 x 7 = 56 ,8 x 8 = 64 ,8 x 9 = 72 ,
9 x 1 = 9 ,9 x 2 = 18 ,9 x 3 = 27 ,9 x 4 = 36 ,9 x 5 = 45 ,9 x 6 = 54 ,9 x 7 = 63 ,9 x 8 = 72 ,9 x 9 = 81 ,

In [1]:
#break/continue

In [5]:
numbers=[14,3,4,7,10,24,17,2,33,15,34,36,38]
for num in numbers:
    if num==33:
        print("%d 번째에서 찾음" %(numbers.index(33)+1))
        break
    print("done")

done
done
done
done
done
done
done
done
9 번째에서 찾음

In [7]:
i=1
while i<=10:
    if i==5:
        break
    print(i,end=" ")
    i+=1

1 2 3 4

In [8]:
numbers=[14,3,4,7,10,24,17,2,33,15,34,36,38]
for num in numbers:
    if num==33:
        print("%d 번째에서 찾음" %(numbers.index(33)+1))
        continue
    print("done")

done
done
done
done
done
done
done
done
9 번째에서 찾음
done
done
done
done

In [14]:
for i in range(1,6):
    for t in range(1,i+1):
        print("*",end=(""))
    print()
    t+=1

*
**
***
****
*****

In [16]:
for i in range(5,0,-1):
    for t in range(i+1,1,-1):
        print("*",end="")
    print()

*****
****
***
**
*

In [27]:
for i in range(1,6):
    for t in range(i+1,6):
        print(" ",end="")
    for t in range(i+1,1,-1):
        print("*",end="")

    
    print()

    *
   **
  ***
 ****
*****

In [29]:
for i in range(5,0,-1):
    for t in range(i+1,6):
        print(" ",end="")
    for t in range(i+1,1,-1):
        print("*",end="")

    
    print()

*****
 ****
  ***
   **
    *