In [1]:
str1="Life is too short, you need Python"
str2='Life is too short, you need Python'
str3="""Life is too short, you need Python"""
str4='''Life is too short, you need python'''
str5="123"

num1=10
num2=10.1

In [2]:
print(str1)
print(str2)
print(str3)
print(str4)
print(str5)
print(num1)
print(num2)

Life is too short, you need Python
Life is too short, you need Python
Life is too short, you need Python
Life is too short, you need python
123
10
10.1

In [3]:
a=b=3
print(a)
print(b)

3
3

In [4]:
a,b=10,15
print(a)
print(b)

10
15

In [5]:
a,b=b,a
print("a=",a)
print("b=",b)

a= 15
b= 10

In [8]:
c=10 
d=20 
e=30
c=d=e
print(c)
e=20
print(c)

30
30

In [9]:
temp1="hello"
temp2=temp1
temp3=temp2
print(temp2)
temp1="good"
print(temp2)

hello
hello

In [10]:
a=123
b=-173

In [11]:
a=1.2
b=-3.45
c=34e+10
d=34e-10
print(a)
print(b)
print(c)
print(d)

1.2
-3.45
340000000000.0
3.4e-09

In [14]:
print(0o177)
print(0x1511)

127
5393

In [15]:
a,b=3,4

print("a+b=",a+b)
print("a-b=",a-b)
print("a*b=",a*b)
print("a/b=",a/b)
print("a//b=",a//b)
print("a%b=",a%b)
print("a**b=",a**b)

a+b= 7
a-b= -1
a*b= 12
a/b= 0.75
a//b= 0
a%b= 3
a**b= 81

In [16]:
'''
str() : 문자 타입 변환
int() :정수 타입 변환
float() :실수 타입 변환
bool() :불린 타입으로 변환

'''

'\nstr() : 문자 타입 변환\nint() :정수 타입 변환\nfloat() :실수 타입 변환\nbool() :불린 타입으로 변환\n\n'

In [19]:
print(type(3))
print(type(float(3)))
print(type(str(3)))
print(bool(3))

<class 'int'>
<class 'float'>
<class 'str'>
True

In [20]:
#777,777 원 교환하기 5만원 1만워 5천원 1천원 나오는지

In [26]:
money=777777
oman=money//50000
money=777777%50000
man=money//10000
money%=10000
ochun=money//5000
money%=5000
chun=money//1000
money%=1000
print(oman,man,ochun,int(chun),money)

15 2 1 2 777