##블럭의 개념=> 탭

In [1]:
if true:
    print("true")

NameError: name 'true' is not defined

In [2]:
if true:
    print("ture");

NameError: name 'true' is not defined

In [3]:
if True:
    print("hello");

hello

In [4]:
a=200

In [5]:
if a<200:
    print("a는 200  보다 작다")

In [6]:
print("조건문과 반복문에서 들여쓰기는 하나의 블럭을 의미")

조건문과 반복문에서 들여쓰기는 하나의 블럭을 의미

In [7]:
if a<300:
    print("a는 300 보다 작다")

a는 300 보다 작다

In [9]:
if a<3300:
    print("으앙")
print("hello")
    print("으앙")

IndentationError: unexpected indent (<ipython-input-9-285b3c3d306f>, line 4)

In [10]:
# a 가 100보다 크고 200보다 작거나 같다

In [11]:
if a>100 and a<=200 :
    print("a는 100과 200 사이에 있다")

a는 100과 200 사이에 있다

In [12]:
if a>100 and a<=200:
    print("a는 100과 200 사이에 있다")

a는 100과 200 사이에 있다

In [13]:
if 100 <a<=200:
    print("a는 100과 200 사이에 있다")

a는 100과 200 사이에 있다

In [14]:
# a,b,c =12 ,6 ,18 로 초기화 후 이중제일 큰 숫자를 출력

In [15]:
a=12 ,b=6,c=18

SyntaxError: cannot assign to literal (<ipython-input-15-8d9d80e397ab>, line 1)

In [16]:
a=12
b=6
c=18
if a>b:
    if a>c:
        print (a)
    if c>a:
        print (c)
if b>a:
    if b>c:
        print(b)
    if b<c:
        print(c)
if c>a:
    if c>b:
        print(c)
    if c<b:
        print(b)

18
18

In [23]:
max=a
if max<b:
    max=b
if max<c:
    max=c
    
print("제일 큰 수 :",max)
print("제일 큰 수 : %d "%max)
print("제일 큰 수 :{}".format(max))

제일 큰 수 : 18
제일 큰 수 : 18
제일 큰 수 :18

In [24]:
if True:
    print("ture")
else:
    print("false")

ture

In [25]:
a=55
if a<100:
    print("a는 100보다 작다")
else :
    print("a는 100보다 크다")

a는 100보다 작다

In [26]:
#사용자로 부터 숫자를 입력 받고 그 숫자가 짝수 , 홁수인지 출력

In [31]:
temp=input("정수 하나를 입력해 주세요")

if int(temp)%2==1:
    print("홀수")
else : 
    print("짝수")

정수 하나를 입력해 주세요12
짝수

In [32]:
# 현재 시간이 오전, 오후인지 출력하기

In [33]:
Date

NameError: name 'Date' is not defined

In [34]:
new date

SyntaxError: invalid syntax (<ipython-input-34-b7dd9f13a04f>, line 1)

In [35]:
time

Wall time: 0 ns

In [36]:
import datetime

now

NameError: name 'now' is not defined

In [37]:

import datetime
now=datetime.datetime.now()
print(now)

2021-02-15 11:04:59.399326

In [38]:
type(now)

datetime.datetime

In [40]:
print("{}년 {}월 {}일 {}시 {}분 {}초".format(now.year,now.month,now.day,now.hour,now.minute,now.second))

2021년 2월 15일 11시 4분 59초

In [41]:
if now.hour<12:
    print("오전입니다")
else :
    print("오후입니다")

오전입니다

In [44]:
str="안녕하세요" if True else "반갑습니다"
print(str)

안녕하세요

In [46]:
a=[]
str =a if a else "비엉"
print(str)

비엉

In [47]:
# if-elif-else

In [50]:
num =78

if num>=90:
    print("num 등급 A")
elif num>=80:
    print("num 등급 B")
else :
    print("나가 죽어!")

나가 죽어!

In [52]:
age =27
height =180

if age>=20:
    if height>=170:
        print("a 지망 지원 가능")
    elif heighy>=160:
        print("b 지망 지원 가능")
    else:
        print("지원 불가")
        
else:
    print("20세 이상 지원 가능")

a 지망 지원 가능

In [53]:
# 점수에 맞춰 학점 출력 하기
#81~100: A 61~80 : B ,41~60: c 학점 나머지 f

In [55]:
temp=int(input("학점을 입력해주세요"))
if(temp>=81):
    print("a학점")
elif(temp>=61):
    print("b학점")
elif(temp>=41):
    print("c학점")
else:
    print("f학점")

학점을 입력해주세요82
a학점

In [56]:
# 두개의 숫자 입력 + 연산자 입력 (+ - * / // ** %)입력 받아서 그걸로 계산

In [59]:
num1=int(input("첫번째 숫자입력"))
num2=int(input("두번째 숫자 입력"))
cal=input("연산자 입력 +,-,*,**,/,//,% 중 선택")
if cal=="+":
    print(num1+num2)
elif cal=="-":
    print(num1-num2)
elif cal=="*":
    print(num1*num2)
elif cal=="/":
    print(num1/num2)
elif cal=="**":
    print(num1**num2)

첫번째 숫자입력13
두번째 숫자 입력13
연산자 입력 +,-,*,**,/,//,% 중 선택+
26