In [2]:
import pandas as pd

In [6]:
# series 생성
series_data =pd.Series([70,60,90])
series_data

0    70
1    60
2    90
dtype: int64

In [8]:
type(series_data)

pandas.core.series.Series

In [18]:
series_data=pd.Series({"a":70,"b":60,"c":90})
series_data

a    70
b    60
c    90
dtype: int64

In [21]:
series_data['b']

60

In [22]:
series_data.index

Index(['a', 'b', 'c'], dtype='object')

In [26]:
series_data.values

array([70, 60, 90], dtype=int64)

In [27]:
series_data[0]

70

In [28]:
series_data.shape   # 핼렬 구성 보여줌

(3,)

In [32]:
series_data.head(2)   #head()  n=5 가 기본

a    70
b    60
dtype: int64

In [34]:
series_data.tail(2) #tail() 밑에서 5개가 기본

b    60
c    90
dtype: int64

In [38]:
series_data.index=["미술","음악","체육"]

In [39]:
series_data

미술    70
음악    60
체육    90
dtype: int64

In [41]:
series_data['미술']=75
series_data

미술    75
음악    60
체육    90
dtype: int64

In [43]:
# delete

del series_data["미술"]

In [44]:
series_data

음악    60
체육    90
dtype: int64

In [46]:
#데이터 타입 변경 astype(변경할타입)
series_data =pd.Series([1,1,1])
series_data

0    1
1    1
2    1
dtype: int64

In [52]:
series_data.astype("float")

0    1.0
1    1.0
2    1.0
dtype: float64

In [56]:
series_data

0    1
1    1
2    1
dtype: int64

In [57]:
float_data=series_data.astype(float)
float_data

0    1.0
1    1.0
2    1.0
dtype: float64

In [58]:
series_data

0    1
1    1
2    1
dtype: int64

In [59]:
string_data=series_data.astype("string")

In [60]:
string_data

0    1
1    1
2    1
dtype: string

In [61]:
int_data=string_data.astype("int")
print(int_data)

0    1
1    1
2    1
dtype: int32

In [62]:
bool_data=string_data.astype("bool")

In [63]:
print(bool_data)

0    True
1    True
2    True
dtype: bool

In [69]:
series_data=pd.Series(["안녕하세요","2.2","3.3"])
series_data

0    안녕하세요
1      2.2
2      3.3
dtype: object

In [70]:
series_data.astype("float")

ValueError: could not convert string to float: '안녕하세요'